
/********************************************

In this file you can add your custom CSS.
It will always override rules in style.css.
Good work... and good luck! :)

********************************************/

.menu #nav .active a{
    color: #ea7206;
}

.wrap_result {
    background-color: #f0f2f0;
    border: 2px solid #2C8DB8;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    left: 35%;
    top:45%;
    width:300px;
    height: 80px;
    text-align: center;
    display: none;
    z-index: 5005;
}
